@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
    padding: 2px;
}

.text-shadow{
    text-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}
.reduced-height {
    height: 2px; 
  }

 